/* =========================================================
   FOOTER
========================================================= */

.footer{
  background:#0f172a;
  color:#fff;
  padding-top:5rem;
}

.footer__grid{
  display:grid;
  grid-template-columns:
    repeat(auto-fit,minmax(220px,1fr));

  gap:3rem;
}

.footer__heading{
  margin-bottom:1rem;
}

.footer__links li{
  margin-bottom:.8rem;
}

.footer__bottom{
  border-top:1px solid rgba(255,255,255,.1);
  margin-top:4rem;
  padding:2rem 0;
  text-align:center;
  color:#cbd5e1;
}